<header>
  <div class='content-wrapper'>
    <a id='tr-logo' href='/' title='FreshBlogs, blogs for tech'>FreshBlogs</a>
    <nav>
      <ul>
        {{#if this.auth.currentUser}}
          <li class="profile-menu">
            <span class='material-symbols-outlined'>account_circle</span>
            <span>{{this.auth.currentUser.name}}</span>
            <Ui::Popup>
              <ul role="listbox">
                <li role="button">Change Password</li>
                <li {{on 'click' (fn this.onNavAction 'logout')}} role="button">Logout</li>
              </ul>
            </Ui::Popup>
          </li>
          <li>
            <button
              type='button'
              id="write-btn"
              class='btn btn-flat'
              {{on 'click' (fn this.onNavAction 'createPost')}}
            >
              <span>Write Post</span>
            </button>
          </li>
        {{else}}
          <li>
            <button
              type='button'
              id="get-started-btn"
              class='btn btn-flat'
              {{on 'click' (fn this.onNavAction 'loginRegister')}}
            >
              Get Started
            </button>
          </li>
        {{/if}}
      </ul>
    </nav>
  </div>
</header>
{{yield}}