<h2>Add Post</h2>

<form
  action='#'
  class='tr-form form-fit post-form'
  novalidate
>
  <div class='form-field {{if this.postObject.title.error "error" ""}}'>
    <Input
      id='post-title'
      name='title'
      placeholder='Enter Title'
      @type='text'
      @value={{this.postObject.title.value}}
      required
      autocomplete='off'
      {{on 'keyup' (fn this.validateForm 'title')}}
    />
  </div>

  <FroalaEditor
    @options={{this.editorOptions}}
    @content={{this.postObject.content.value}}
    @update={{fn (mut this.postObject.content.value)}}
  />


  <div class='form-action'>
    <button
      type='button'
      {{on 'click' this.reset}}
      class='btn btn-action'
    >Reset</button>
    <button type='button' class='btn btn-primary' disabled={{this.formInvalid}} {{on 'click' this.createPost}} >Save as Draft</button>
    <button type='submit' class='btn btn-primary' disabled={{this.formInvalid}} {{on 'click' this.publishPost}} >Publish Post</button>
  </div>

</form>