<div
  class='form-field password-with-help
    {{if this.formObj.password.error "error" ""}}'
>
  <Input
    id='input-password'
    name='password'
    placeholder='Enter Password'
    @type='password'
    required
    {{on 'keyup' this.updatePassword}}
  />
  {{! template-lint-disable no-action }}
  <Common::PasswordChecker::ValidatorList
    @id='password'
    @password={{this.formObj.password.value}}
    @onPasswordValid={{action 'setFormStatus'}}
  />
</div>

{{this.formObj.confirmPassword.error}}
<div
  class='form-field password-with-help
    {{if this.formObj.confirmPassword.error "error" ""}}'
>
  <Input
    id='input-confirm-password'
    name='confirmPassword'
    placeholder='Re-enter Password'
    @type='password'
    required
    {{on 'keyup' this.updatePassword}}
  />
  {{! template-lint-disable no-action }}
  <Common::PasswordChecker::ValidatorList
    @id='confirmPassword'
    @password={{this.formObj.confirmPassword.value}}
    @onPasswordValid={{action 'setFormStatus'}}
  />
</div>