{{page-title 'TechReader'}}
{{! template-lint-disable no-action }}
<Common::Header
  @userIsLoggedIn={{this.userIsLoggedIn}}
  @onNavAction={{action 'openModal'}}
/>
<section>
  {{! list of topics available }}
</section>
{{outlet}}
<footer>
  {{! copyright }}
</footer>

{{#if this.showModal}}
  {{#if this.modalType}}
    <Ui::Modal @title='Signup' @onCloseModal={{action 'closeModal'}}>
      <Common::Register @onRegisterDone={{action 'closeModal'}}/>
      {{!-- <Common::Login @onLoginSuccess={{action 'closeModal'}}/> --}}
    </Ui::Modal>
  {{/if}}
{{/if}}