{{page-title 'TechReader'}}
{{! template-lint-disable no-action }}
<Common::Header
  @userIsLoggedIn={{this.userIsLoggedIn}}
  @onNavAction={{action 'openModal'}}
/>
<section>
  {{! list of topics available }}
</section>
{{outlet}}
<footer>
  {{! copyright }}
</footer>

{{#if this.showModal}}
  {{#if this.modalType}}
    <Ui::Modal @title='Modal' @onCloseModal={{action 'closeModal'}}>
      {{#if this.userIsLoggedIn}}
        <Common::Login/>
      {{else}}
        <Common::Register/>
      {{/if}}
    </Ui::Modal>
  {{/if}}
{{/if}}