{{page-title 'TechReader'}}
{{!-- template-lint-disable no-action --}}
<Common::Header @userIsLoggedIn={{true}} @onNavAction={{action 'openModal'}} />
<section>
  {{! list of topics available }}
</section>
{{outlet}}
<footer>
  {{! copyright }}
</footer>

{{this.showModal}}

{{#if this.showModal}}
  {{#if this.modalType}}
    <Ui::Modal @title="Modal" @onCloseModal={{action 'closeModal'}}>

        Based on modal type show login or register

    </Ui::Modal>
  {{/if}}
{{/if}}