{{page-title 'TechReader'}}
{{! template-lint-disable no-action }}
<Common::Header
  @userIsLoggedIn={{this.userIsLoggedIn}}
  @onNavAction={{action 'openModal'}}
/>
<section>
  {{! list of topics available }}
</section>
{{outlet}}
<footer>
  {{! copyright }}
</footer>

{{#if this.showModal}}
  <Ui::Modal @title='Join Freshblogs' @onCloseModal={{action 'closeModal'}}>
    {{#if this.showLoginForm}}
      <Common::Login @onLoginSuccess={{action 'closeModal'}} />
      <p class="tr-account-status">
        <span>No Account?</span>
        <button
          type='button'
          class='btn btn-flat modal-link'
          {{on 'click' (fn this.setAction false)}}
        >Create One</button>
      </p>
    {{else}}
      <Common::Register @onRegisterDone={{action 'closeModal'}} />
      <p class="tr-account-status">
        <span>Already have an account?</span>
        <button
          type='button'
          class='btn btn-flat modal-link'
          {{on 'click' (fn this.setAction true)}}
        >Sign In</button>
      </p>
    {{/if}}
  </Ui::Modal>
{{/if}}