{{#if this.errorMessage}}
  <div class='form-error-message'>{{this.errorMessage}}</div>
{{/if}}

<form
  {{on 'submit' this.save}}
  action='#'
  class='tr-form form-fit login-form'
  novalidate
>
  <div class='form-field {{if this.loginData.name.error "error" ""}}'>
    <Input
      id='login-email'
      name='email'
      placeholder='Enter Email'
      @type='email'
      @value={{this.loginData.email.value}}
      required
      {{on 'keyup' (fn this.validateRequiredFields 'email' )}}
    />
  </div>

  <div class='form-field {{if this.loginData.name.error "error" ""}}'>
    <Input
      id='login-password'
      name='password'
      placeholder='Enter Password'
      @type='password'
      @value={{this.loginData.password.value}}
      required
      {{on 'keyup' (fn this.validateRequiredFields 'password' )}}
    />
  </div>

  <div class='form-action'>
    <button
      type='button'
      {{on 'click' this.reset}}
      class='btn btn-action'
    >Reset</button>
    <button type='submit' class='btn btn-primary' disabled={{this.formInvalid}}>Submit</button>
  </div>
</form>