<div class='post-view'>
  <div class='post-view-content'>
    <h2>{{@model.title}}</h2>
    <div class='post-content'>
      {{html-safe @model.content}}
    </div>
  </div>
  <div class='post-view-details'>
    <div class='posts-details'>
      <h3 class='post-author'>Created By: <b>{{@model.user.name}}</b></h3>
      <p class='post-created-date'>Posted on:
        {{format-date @model.created_at}}</p>
    </div>

    <div class='posts-action'>
        <span class='material-symbols-outlined' title="Edit Post" role="button" {{on 'click' (fn this.editPost @model)}}>edit</span>
        <span class='material-symbols-outlined' title="Delete Post" role="button" {{on 'click' (fn this.deletePost @model)}}>delete</span>
    </div>

    {{#if @model.published}}
      <p>The post is already published</p>
    {{else}}
      <p>The post is in draft mode, Click here to submit</p>
      <button
        type='button'
        class='btn btn-primary'
        {{on 'click' (fn this.publishPost @model)}}
      >Publish</button>
    {{/if}}
  </div>
</div>